*{
    background-color: black;
    color: white;
    text-align: center;
    font-family: helvetica;

}
.bruh1{
    background-color: rgb(63, 58, 58);
    color: rgb(255, 255, 255);
}
#bruh{
    background-color:rgb(63, 58, 58);
    color: rgb(255, 255, 255);
}
.bruh2{
    font-family: fantasy;
}