*{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    text-align: center;
    font-family: helvetica;
}
#przycisk{
    background-color: rgb(255, 255, 255);
    color: black;
}
.aha{
    font-family: fantasy;
}
